.card {
    box-shadow: 0 .1rem 2rem 0 rgba($color-black, 0.3);
    max-width: 30rem;
    margin: auto;
    text-align: center;
    border-radius: .5rem;
    background-color: $color-grey-light-1;


    &__img {
        min-height: 30rem;
    }


&__title {

    &-main {
    color: $color-black;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-top: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;

    }

    &-sub {
        color: $color-grey-dark-3;
        font-size: 1.2rem;  
        text-transform: uppercase;
        margin-top: -0.5rem;
        margin-bottom: 2rem;
    }
}

&__button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: .8rem;
    color: $color-white;
    background-color: $color-grey-dark-5;
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    transition: all .2s;
}

    &__button:hover {
        background-color: $color-primary;
        letter-spacing: .2rem;
        border-radius: 0 0 .5rem .5rem;
    }
}