.section-about {
    padding: 20rem 0;
    background-color: $color-grey-light-1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    @include respond(tab-port) {
        padding: 8rem 0 24rem 0;
    }
    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        padding: 8rem 0;
    }
}

.list-main {
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: $color-primary-dark;
    font-size: $default-font-size;
    color: $color-grey-light-2;
    margin-bottom: 3rem;
    list-style: none;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.2);
    &__heading {
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: $color-grey-light-2;
        margin-bottom: 2rem;
    }
    li {
        padding: 1rem;
        text-align: center;
        &:not(:last-child) {
            border-bottom: 0.1rem solid $color-white;
        }
    }
}

/////////////////////////////////////////////////////////////////
.section-people {
    background-image: linear-gradient( to right bottom, rgba($color-grey-dark-1, 0.2), rgba($color-grey-dark-2, 0.2)), url("../img/people_bg.png");
    background-size: cover;
    margin-top: -40vh;
    padding: 55rem 0 20rem 0;
    @include respond(tab-land) {
        padding: 55rem 0 13rem 0;
    }
    @include respond(tab-port) {
        margin-top: -45vh;
        padding: 65rem 0 12rem 0;
    }
}

/////////////////////////////////////////////////////////////////
.section-publications {
    background-color: $color-white;
    padding: 12rem 0;
    @include respond(phone) {
        padding: 8rem 0;
    }
}

/////////////////////////////////////////////////////////////////
.section-opportunities {
    background-color: $color-grey-light-1;
    padding: 15rem 0;
    -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
    clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        padding: 8rem 0;
    }
}

.research-icon {
    font-size: 10rem;
    margin-right: .5rem;
    font-weight: 700;
    color: $color-primary;
    text-align: center;
}

.opportunities {
    font-size: 1.7rem;
    &__list {
        text-align: left;
        list-style: none;
    }
    &__item {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: .1rem solid $color-grey-dark-3;
    }
    &__span {
        margin-right: .5rem;
        letter-spacing: .3rem;
        font-weight: 700;
        color: $color-primary;
    }
}

/////////////////////////////////////////////////////////////////
.section-contact {
    background-color: $color-grey-dark-3;
    padding: 8rem 0;
    color: $color-grey-light-3;
    &__photo-box {
        margin: 0 auto;
        margin-top: 4rem;
    }
    &__photo {
        width: 100%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 0.5rem;
    }
}

.contact-link {
    color: $color-primary;
    font-size: 4rem;
    text-shadow: 0rem .3rem .5rem rgba($color-black, 0.2);
    transition: all .2s;
    padding: 1.5rem;
    &:hover {
        color: $color-primary-dark;
    }
}

/////////////////////////////////////////////////////////////////
#return-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: rgba($color-primary, 1);
    color: $color-white;
    width: 5rem;
    height: 5rem;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 3.5rem;
    -moz-border-radius: 3.5rem;
    border-radius: 3.5rem;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 100;
    & i {
        color: $color-white;
        margin: 0;
        position: relative;
        left: .5rem;
        top: .5rem;
        font-size: 4rem;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    &:hover {
        background: rgba($color-black, 0.9);
    }

}